@import url('https://unpkg.com/@douyinfe/semi-ui/dist/css/semi.min.css');

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: var(--semi-color-bg-0);
  color: var(--semi-color-text-0);
}

.app-logo {
  height: 28px;
}
